@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
    /* border: 1px solid; */
}

/* Container */

html, body {
    height: 100%;
}

#container {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px; 
}

/* Header */

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: rgba(128, 128, 128, 0.192);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
}

#central-direcao {
    line-height: 120px;
    color: chocolate;
}

#central-direcao {
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
}

/* Formulário Login */

#formulario {
    box-sizing: border-box;
}

#formulario-login {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    border-radius: 7px;
    background-color: rgba(197, 197, 197, 0.247);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
}

.label {
    display: block;
    margin-left: 30px;
    margin-right: 35px;
    line-height: 30px;
}

.input {
    width: 87%;
    display: block;
    margin-left: 30px;
    line-height: 40px;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
}

.label-input {
    margin-top: 30px;
}

#checkbox-remember {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 35px;
}

#op-erros  {
    text-align: right;
    margin-right: 35px;
    margin-left: 30px;
    margin-top: 20px;
}

#butao-entrar {
    text-align: center;
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 20px;
}

#butao-entrar button {
    width: 70px;
    padding: 10px;
    border-radius: 7px;
    background-color: chocolate;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#butao-entrar button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#butao-entrar button:hover {
    background-color: #f7a56a;
}

/* Setores da Faculdade */

#setores-faculdade {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 100%; /* Define a largura como 100% para responsividade */
    max-width: 920px; /* Mantém o máximo de 920px */
}

.setores {
    min-width: 150px; /* Define um tamanho mínimo para cada div */
    height: 90px;
    border: 1px solid;
    margin: 10px;
    box-sizing: border-box; /* Para incluir o padding e border na largura */
    text-align: center;
    line-height: 90px;
    font-weight: 700;
}

#setores-faculdade a {
    text-decoration: none;
    color: black;
}

.setores:hover {
    background-color: chocolate;
    color: white;
}

/* Footer */

#rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(196, 193, 193, 0.192);
    text-align: center;
    line-height: 50px;
    border-top: 1px rgba(128, 128, 128, 0.452);
}
