@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
    /* border: 1px solid; */
}

/* Container */

html, body {
    height: 100%;
}

#container {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px; 
}

/* Header */

#cabecalho {
    width: 100%;
    height: 120px;
    background-color: rgba(128, 128, 128, 0.192);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Para permitir o posicionamento do perfil */
}

#central-direcao {
    color: chocolate;
    text-transform: uppercase;
    font-size: xx-large;
    margin: 0;
}

#perfil {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#perfil-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px; /* Ajuste conforme necessário */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    width: 100px; /* Ajuste conforme necessário */
}

#perfil-menu a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#perfil-menu a:last-child {
    border-bottom: none; /* Remove a borda inferior da última opção */
}

#perfil-menu a:hover {
    background-color: #f7a56a;
    color: white;
}

#perfil img {
    width: 50px;
    height: 50px; /* Certifique-se de que a imagem seja quadrada */
    border-radius: 50%; /* Torna a imagem circular */
}

/* Media Query para telas menores */

@media (max-width: 600px) {
    #cabecalho {
        flex-direction: column;
        height: auto; /* Ajusta a altura para acomodar o novo layout */
        padding: 10px 0;
    }

    #central-direcao {
        margin-top: 10px;
        font-size: large; /* Reduz o tamanho do texto em telas menores */
    }

    #perfil {
        position: static; /* Remove o posicionamento absoluto */
        margin-top: 10px; /* Adiciona espaço entre o texto e a imagem */
    }

    #perfil img {
        width: 40px; /* Reduz o tamanho da imagem de perfil */
        height: 40px;
    }
}

/* Formulário Login */

#formulario {
    box-sizing: border-box;
}

#formulario-login {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    border-radius: 7px;
    background-color: rgba(197, 197, 197, 0.247);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
}

.label {
    display: block;
    margin-left: 30px;
    margin-right: 35px;
    line-height: 30px;
}

.input {
    width: 87%;
    display: block;
    margin-left: 30px;
    line-height: 40px;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
}

.label-input {
    margin-top: 30px;
}

#checkbox-remember {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 35px;
}

#op-erros  {
    text-align: right;
    margin-right: 35px;
    margin-left: 30px;
    margin-top: 20px;
}

#butao-entrar {
    text-align: center;
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 20px;
}

#butao-entrar button {
    width: 70px;
    padding: 10px;
    border-radius: 7px;
    background-color: chocolate;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#butao-entrar button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#butao-entrar button:hover {
    background-color: #f7a56a;
}

/* Setores da Faculdade */

#setores-faculdade {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 100%; /* Define a largura como 100% para responsividade */
    max-width: 920px; /* Mantém o máximo de 920px */
}

.setores {
    min-width: 150px; /* Define um tamanho mínimo para cada div */
    height: 90px;
    border: 1px solid;
    margin: 10px;
    box-sizing: border-box; /* Para incluir o padding e border na largura */
    text-align: center;
    line-height: 90px;
    font-weight: 700;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.452);
}

#setores-faculdade a {
    text-decoration: none;
    color: black;
}

.setores:hover {
    background-color: chocolate;
    color: white;
}

/* Direção */

#direcao-container {
    border: 1px solid;
    
}

/* Footer */

#rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(196, 193, 193, 0.192);
    text-align: center;
    line-height: 50px;
    border-top: 1px rgba(128, 128, 128, 0.452);
}
